* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}
